section.latest-product {
  margin-top: 120px;
}

h2.latest_title {
  text-align: center;
}

p.latest_descr {
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  opacity: .7;
}

div.products-cards {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

div.product-card {
  width: 286px;
  height: 286px;
  background-color: #E6F1FF;
  border-radius: 30px;
}

div.product-card.inactive {
  display: none;
}

div.product-card::before {
  position: relative;
  content: "";
  display: block;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 6px solid #FFFFFF;
  background-color: #E6F1FF;
  background-image: url('/assets/icons/shopping-cart.svg');
  background-repeat: no-repeat;
  background-position: center;
  bottom: 24px;
  left: 232px;
}

div.card-red,
div.card-red::before {
  background-color: #FFE6EE;
}

div.card-green,
div.card-green::before {
  background-color: #E6FFFB;
}

img.product_img {
  position: relative;
  width: 75%;
  bottom: 110px;
  left: 24px;
}

div.rating_container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 50px;
}

ul.rating_stars {
  list-style-type: none;
}

li.rating_star {
  color: #FDAE38
}

div.card_info {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 46px;
}

span.card_title {
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
}

@media screen and (min-width: 768px) {
  section.latest-product {
    margin-top: 20px;
  }

  h2.latest_title {
    font-size: 44px;
    line-height: 58px
  }

  div.products-cards {
    gap: 64px;
  }

  div.product-card.inactive {
    display: block;
  }
}