section.products-collection {
  margin-top: 42px;
}

h2.products-carousel_title {
  font-size: 32px;
  line-height: 44px;
  text-align: center;
}

div.products-carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 28px;
}

div.carousel-card.inactive {
  display: none;
}

img.carousel_arrow,
div.carousel-card {
  cursor: pointer;
}

div.carousel-card {
  max-width: 266px;
  filter: drop-shadow(0px 21px 88px rgba(126, 118, 118, 0.2));
}

img.carousel-card_img {
  max-width: inherit;
}

h2.good-headphones_title {
  margin-top: 120px;
  font-size: 32px;
  line-height: 44px;
}

div.specification_container {
  display: flex;
  gap: 20px;
  margin-top: 32px;
}

div.specification_icon_outer {
  display: flex;
  align-items: center;
  width: 98px;
  height: 98px;
  border-radius: 50%;
  border: 6px solid rgba(255, 72, 72, .5);
}

div.specification_icon-fullfill::before {
  display: block;
  position: relative;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: var(--color-red);
  bottom: 4px;
  right: 6px;
}

div.specification_icon-fullfill {
  position: absolute;
  display: flex;
  width: 98px;
  height: 48px;
  border-bottom-left-radius: 110px;
  border-bottom-right-radius: 110px;
  border: 6px solid var(--color-red);
  border-top: 0;

}

div.fullfill_battery {
  top: 1592px;
}

div.fullfill_bluetooth {
  top: 1734px;
}

div.fullfill_microphone {
  top: 1876px;
}

div.specification_icon-fullfill::after {
  display: block;
  position: relative;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: var(--color-red);
  bottom: 4px;
  left: 92px;
}

div.specification_icon_inner {
  display: flex;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid rgba(255, 72, 72, .5);
  ;
  margin: auto;
}

img.specification_icon_inner {
  margin: auto;
}

div.item-specification {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h3.specification_title {
  font-size: 32px;
  line-height: 44px;
}

span.specification_info {
  font-weight: 400;
  line-height: 24px;
  opacity: 0.7;
}

a.specification_lern {
  line-height: 24px;
  color: var(--color-red);
  text-decoration: none;
}

img.example-photo {
  display: block;
  margin: 0 auto;
  width: 50%;
  margin-top: 56px;
  ;
}



@media screen and (min-width: 768px) {
  section.products-collection {
    margin-top: 130px;
  }

  div.products-carousel {
    margin-top: 70px;
  }

  h2.products-carousel_title {
    font-weight: 700;
    font-size: 44px;
    line-height: 58px;
    text-align: center;
  }

  div.carousel-card {
    max-width: 454px;
  }

  div.carousel-card.inactive {
    display: block;
    filter: none;
  }

  h2.good-headphones_title {
    max-width: 460px;
  }

  div.product-descr {
    display: flex;
    margin-top: 130px;
  }

  h2.good-headphones_title {
    font-size: 44px;
    line-height: 58px
  }

  img.example-photo {
    transform: scale(.6);
  }

  div.fullfill_battery {
    top: 2010px;
  }

  div.fullfill_bluetooth {
    top: 2152px;
  }

  div.fullfill_microphone {
    top: 2294px;
  }
}