.header {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px 8px;
}

@media screen and (min-width: 768px) {
  .header {
    justify-content: space-between;
  }

  h2.header-title {
    margin: 0;
  }

  div.burger-menu {
    display: none;
  }

  ul.header-menu {
    display: flex;
    gap: 40px;
  }

  ul.header-account {
    display: flex;
    list-style-type: none;
    gap: 20px;
  }

  li.account-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img.account-item_img {
    width: 18px;
    height: 18px;
    margin-bottom: 8px;
  }
}