:root {
  --accent-color: #ADA7FF;
  --heading-color: #302B3A;
  --text-color: #404040;
  --paragraph: #686868;
}

h1,
h2,
h3,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

.interactive {
  cursor: pointer;
}

html {
  font-family: 'Dosis';
  font-style: normal;

  background: white;
}

div.container {
  padding-left: 16px;
  padding-right: 16px;
  height: 100vh;
}

header.header {
  display: flex;
  width: 100%;
  padding: 24px 0 24px 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgba(212, 212, 212, 0.58);
}

img.header_logo {
  width: 30px;
  height: 30px;
}

img.header_menu {
  width: 24px;
  height: 24px;
}

nav.header-nav {
  display: none;
}

button.header_get-started {
  display: none;
}

/* HERO */
main.hero {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


h1.hero_title {
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  color: var(--heading-color);
  text-align: center;
}

span.hero_title_good {
  color: var(--accent-color);
}

p.hero_text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--text-color);
}

/* ACTIVITY */
section.activity {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 16px;
}

div.activity-btn {
  display: flex;
  width: fit-content;
  gap: 10px;
  align-items: center;
}

div.activity_adopt {
  background-color: var(--accent-color);
  padding: 10px 16px;
  border-radius: 40px;
}

span.activity_adopt-text {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: white;
}

div.activity_watch {
  color: var(--accent-color);
}

img.activity_watch-img {
  width: 34px;
  height: 34px;
}

/* STATS */
section.stats {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 16px;
}

h2.stats_number {
  font-weight: 650;
  font-size: 30px;
  line-height: 38px;
  color: var(--heading-color);
}

span.stats_descr {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: var(--paragraph);
}

/* PETS */
section.pets {
  height: calc(100vh * 0.46);
  width: calc(100% - 32px);
  min-height: 313px;
  background-image: url('/assets/images/dog-print-with-background.png'),
    url('/assets/images/dog-sitting.png'),
    url('/assets/images/background-item-01.png'),
    url('/assets/images/cat-lying.png'),
    url('/assets/images/background-item-02.png'),
    url('/assets/images/cat-print-with-background.png');

  background-position: left top, right top, right top, left bottom -30px, left bottom 10px, right bottom 10px;
  background-size: 50px, 180px, 220px, 320px, 220px, 50px;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  z-index: -1;

  transition: 0.5s filter linear;
}


@media (max-height: 669px) {
  section.pets {
    filter: blur(4px);
  }
}

@media (min-width: 769px) {
  div.container {
    padding-left: 136px;
    padding-right: 136px;
    height: 100vh;
  }

  /* HEADER */
  header.header {
    padding: 54px 0 54px 0;
    border-bottom: none;
    gap: 10px;
  }

  img.header_logo {
    width: 56px;
    height: 56px;
  }

  img.header_menu {
    display: none;
  }

  nav.header-nav {
    display: block;
  }

  button.header_get-started {
    display: block;
  }

  ul.nav-menu {
    display: flex;
    list-style-type: none;
    gap: 26px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: black;
  }

  li.nav-item_active {
    color: var(--accent-color);
  }

  button.header_get-started {
    background-color: var(--accent-color);
    border: none;
    border-radius: 40px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 16px 32px;
  }

  main.hero {
    max-width: 58%;
  }

  main.hero:before {
    content: "";
    position: absolute;
    /* left: 0; */
    right: 134px;
    z-index: -1;
    display: block;
    width: 46%;
    height: 676px;

    background-image: url('/assets/images/dog-print-with-background.png'),
      url('/assets/images/dog-sitting.png'),
      url('/assets/images/background-item-01.png'),
      url('/assets/images/cat-lying.png'),
      url('/assets/images/background-item-02.png'),
      url('/assets/images/cat-print-with-background.png');

    background-position: right 530px top 60px, right top 70px, right top 60px, right 200px bottom -30px, right 300px bottom 10px, right bottom 10px;
    background-size: 60px, 200px, 280px, 370px, 280px, 60px;
    background-repeat: no-repeat;
  }

  h1.hero_title {
    font-weight: 700;
    font-size: 68px;
    line-height: 88px;
    text-align: left;
    margin-top: 150px;
  }

  p.hero_text {
    font-size: 18px;
    line-height: 24px;
    margin-top: 24px;
  }

  section.activity {
    margin-top: 60px;
  }

  div.activity_adopt {
    padding: 16px 32px;

  }

  span.activity_adopt-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
  }

  img.activity_watch-img {
    width: 56px;
    height: 56px;
  }

  span.activity_watch-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
  }

  section.stats {
    margin-top: 60px;
    gap: 66px;
  }

  h2.stats_number {
    font-weight: 650;
    font-size: 44px;
    line-height: 54px;
  }

  span.stats_descr {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
  }

  /* PETS */
  section.pets {
    width: calc(100% - 272px);
    display: none;
  }
}