h4, h3, h2, p, ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  background-color: black;
  color: white;
  font-family: 'Open Sans';
  font-style: normal;
  scroll-behavior: smooth;
}

main {
  background: rgb(0, 0, 0);
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.517266281512605) 0%, rgba(0, 0, 0, 0.34079569327731096) 8%, rgba(0, 0, 0, 0.09989933473389356) 27%, rgba(0, 0, 0, 0) 100%);
  padding-top: 4em;
}

.container {
  background: top no-repeat url('../assets/images/hero-bg.png');
}

.subtitle {
  font-weight: 700;
  font-size: 64px;
  line-height: 86px;

  color: #FFFFFF;
}

.content-container {
  padding: 0 14em
}

header.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5em;
}

header.faded {
  background: rgba(255, 255, 255, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: 400ms linear;
}

a.site-logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;

  letter-spacing: 0.01em;
  text-transform: capitalize;

  color: white;
  text-decoration: none;
}

ul.navigation-links {
  display: flex;
  padding: 0;
  gap: 3em;
}

li.nav-item {
  list-style-type: none;
}

.nav-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;

  color: white;
  text-decoration: none;
}

div.account {
  display: flex;
  justify-self: flex-end;
  align-items: center;
  gap: 1em;
}

input[type=text].account_input {
  background-image: url('../assets/icons/search.svg');
  background-repeat: no-repeat;
  background-position: 0;

  padding-left: 1.5em;
  background-color: transparent;
  border: none;
  color: white;
  width: 3.5em;
}

input.account_input::placeholder {
  color: white;
  opacity: .6;
}

aside.follow-us-container {
  position: absolute;
  left: 5em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

ul.follow-us {
  list-style-type: none;
  padding: 0;
}

h4.follow-us_text {
  writing-mode: vertical-rl;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

li.follow-us_link {
  margin-bottom: 1.25em;
  width: 1.25em;
  height: 1.25em;
  cursor: pointer;
}

section.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 18em;
  margin-bottom: 35em;
}

div.hero_content {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

div.subtitle_container {
  display: flex;
  align-items: center;
  gap: 2em;
}

.hero_subtitle-container {
  margin-bottom: 1.75em;
}

div.subtitle_rect {
  width: 4.5em;
  height: 2px;
  background-color: #FFC178;
}

h3.hero_subtitle {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;

  letter-spacing: 6px;
  color: #FFC178;
}

.hero-title {
  margin-bottom: 8em;
  margin-top: 0;
  text-transform: capitalize;
}

span.hero-title__first-line {
  font-weight: 700;
  font-size: 96px;
  line-height: 100px;
}

span.hero-title__second-line {
  font-weight: 400;
  font-size: 88px;
  line-height: 100px;
}

a.more {
  margin: 0 auto;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  text-decoration: none;
}

section.east-nusa {
  display: flex;
  flex-direction: row;
  gap: 14.5em;
  align-items: center;

  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8898153011204482) 8%, rgba(0, 0, 0, 1) 100%);
  margin-bottom: 15.625em;
}

.content-nusa__content {
  display: flex;
  gap: 28px;
  flex-direction: column;
}

.content-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;

  color: #FFFFFF;
}

.read-more {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;

  color: #FBD784;
  text-decoration: none;
}

section.bromo {
  background: center no-repeat url('../assets/images/steps-img.png');
  margin-bottom: 14.25em;
}

div.bromo_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 29em 2.5em 2.5em 2.5em;
}

div.bromo-arrows {
  display: flex;
  width: 100%;
  margin: 0 2.5em;
  justify-content: space-between;
}

div.bromo-arrow {
  font-size: 28px;
  font-weight: 600;
  cursor: pointer;
}

div.bromo_text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 16.5em 0 16.5em;
}

h3.bromo_subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;

  letter-spacing: 6px;
  text-transform: uppercase;

  color: #FBD784;
}

div.bromo_subtitle-container {
  margin-bottom: 1.5em;
}

h2.bromo_title {
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  text-align: center;

  color: #FFFFFF;

  margin-bottom: 1.5em;
}

p.bromo_content-text {
  margin-bottom: 2.5em;
  text-align: center;
}

section.indonesian {
  display: flex;
  margin-bottom: 15.625em;
  justify-content: space-between;
  align-items: center;
}

div.indonesian_content {
  display: flex;
  gap: 1.75em;
  flex-direction: column;
  max-width: 39.5em;
}

div.get-started {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3em;
}

span.footer-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
}

span.explore_ready {
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  margin-right: 3.5em;
}

button.explore_button {
  padding: 1.5em 4.375em;
  background: #FFA343;
  border-radius: 0.5em;
  border: none;
  cursor:pointer
}

div.lets-go {
  margin-top: 3.5em;
}

span.lest-go_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  letter-spacing: -0.3px;
}

div.lets-go_subscription {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8em;
}

div.lets-go_newsletter {
  max-width: 25em;
}

form.lets-go_form {
  margin-top: 3.125em;
}

input.lets-go_input {
  background-color: transparent;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  border: none;
  padding: 1.25em;
}

input.lets-go_submit {
  padding: 1.25em;
  color: black;
  background: #FFA343;
  border-radius: 0.5em 0.5em 0px 0px;
  border: none;
  cursor: pointer;
}

div.lets-go_links {
  display: flex;
  gap: 11.5em;
}

h4.links-subtitle {
  font-weight: 700;
  font-size: 20px;
  color: #FFD1A0;
  margin-bottom: 2em;
}

ul.links-list {
  display: flex;
  flex-direction: column;
  gap: 2em;
  list-style-type: none;
}

a.links_link {
  font-weight: 400;
  font-size: 19px;
  text-decoration: none;
  color: white;
}

div.credits {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10em;
}

.credits_links>a {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: white;
  text-decoration: none;
}

a.links_privacy {
  margin-left: 3.75em;
}

img.credits_image {
  margin-left: 3.25em;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

div.copyright {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  opacity: 0.5;
  margin-bottom: .7em;
}