main.hero {
  color: var(--color-white);
  margin-top: 50px;
}

img.hero-img {
  width: 100%;
}

h2.hero_subtitle {
  font-size: 22px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: 10px;
}

h1.hero_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  text-transform: uppercase;
  margin-top: 14px;
}

div.hero_price-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px;
}

span.price-box_actual-price {
  font-weight: 700;
  font-size: 44px;
  line-height: 130%;
}

span.price-box_vertical-divider {
  font-size: 32px;
}

span.price-box_old-price {
  font-size: 32px;
  line-height: 140%;
  text-decoration-line: line-through;
  opacity: .7;
}

button.hero_buy-btn {
  margin-top: 34px;
}

@media screen and (min-width: 768px) {
  main.hero {
    display: flex;
    align-items: center;
    gap: 95px;
  }

  img.hero-img {
    max-width: 570px;
  }
}