/* Download font 'Rubik' from the internet */
/* If you'd like, you could use your own font. Please go to https://fonts.google.com/ and choose your favourite */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('../src/components/container/styles.css');
@import url('../src/components/header/styles.css');
@import url('../src/components/hero/styles.css');
@import url('../src/components/products/styles.css');
@import url('../src/components/latest-product/styles.css');
@import url('../src/components/in-the-box/styles.css');
@import url('../src/components/subscribe/styles.css');
@import url('../src/components/footer/styles.css');


/* This is called CSS Custom Properties */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
  --main-bg-color: #ffffff;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-red: #ff4948;
}

/* COMMON PAGE STYLES */
html {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  background-color: var(--main-bg-color);
  color: var(--color-black);
  font-weight: 500;
}

h1,
h2,
h3,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
}

.container {
  margin-left: 20px;
  margin-right: 20px;
}

button.main-button {
  width: 100%;
  height: 64px;
  border-radius: 64px;
  border: none;
  font-size: 22px;
  line-height: 140%;
  cursor: pointer;
}

button.white-button {
  background-color: var(--color-white);
  color: var(--color-red);
}

button.red-button {
  background-color: var(--color-red);
  color: var(--color-white);
}

.app {
  max-width: 480px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .app {
    max-width: 1280px;
  }
}
