section.subscribe {
  margin-top: 114px;
  padding: 54px 30px 30px 36px;
  background-color: #FFF4F4;
  border-radius: 20px;
}

h2.subscribe_title {
  font-weight: 700;
  font-size: 44px;
  line-height: 58px;
  text-align: center;
}

p.subscribe_text {
  font-weight: 400;
  opacity: .7;
  margin-top: 6px;
}

input.subscribe_input {
  margin-top: 36px;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 60px;
  border: none;
  text-indent: 30px
}

button.subscribe_btn {
  margin-top: 42px;
}

@media screen and (min-width: 768px) {
  section.subscribe {
    max-width: 50%;
    margin: 0 auto;
    margin-top: 152px;
    padding: 54px 105px;
  }

  p.subscribe_text {
    text-align: center;
  }

  div.subscribe_input-container {
    display: flex;
    align-items: center;
    margin-top: 36px;
    margin-left: 42px;
  }

  input.subscribe_input {
    padding: 0;
    margin: 0;
    height: 62px;
  }

  button.subscribe_btn {
    position: relative;
    margin-top: 0;
    max-width: fit-content;
    padding: 0 30px;
    right: 42px;
  }
}