footer.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  background-color: #E86564;
  padding: 62px 32px;
}

ul.footer_links {
  display: flex;
  flex-direction: row;
  gap: 34px;
  justify-content: space-between;
  list-style-type: none;
}

li.footer_link {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-white);
}

img.footer_ling_img {
  cursor: pointer;
}

ul.footer_navigation {
  display: none;
}

@media screen and (min-width: 768px) {
  footer.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  ul.footer_navigation {
    display: flex;
    gap: 30px;
    list-style-type: none;
    font-size: 22px;
    line-height: 32px;
    color: #FFFFFF
  }

  ul.footer_links {
    gap: 34px;
  }

  li.nav-item {
    cursor: pointer;
  }
}