section.in-the-box {
  margin-top: 270px;
}

img.box-img {
  max-width: 100%;
}

h2.in-the-box_title {
  margin-top: 4px;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px
}

li.box_item {
  list-style-type: none;
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgba(0, 0, 0, .7);
}

li.box_item::before {
  position: relative;
  content: url('/assets/icons/arrow-in-circle.svg');
  top: 4px;
  margin-right: 16px;
}

li.box_item:last-child {
  border-bottom: none;
}


@media screen and (min-width: 768px) {
  section.in-the-box {
    display: flex;
  }
}