ul.navigation_links {
  display: none;
}

nav.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img.logo,
img.navigation_link_img {
  cursor: pointer;
}

div.navigation_burger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}

div.burger-line {
  height: 3px;
  background-color: var(--color-white);
  border-radius: 3px;
}

div.wide-line {
  width: 38px;
}

div.narrow-line {
  width: 28px;
}

@media screen and (min-width: 768px) {
  ul.navigation_links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
  }

  span.navigation_links_vertical-divider {
    font-size: 46px;
    color: var(--color-white);
    opacity: .5;
    font-weight: 1;
  }

  li.navigation_link {
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
  }
}